<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>用户登录</title>

</head>


<body>
<div align="center">
    <h1>欢迎登录</h1>
<form method="post" action="/userLogin">
    UserName
    <input type="text" name="userName">
    <br>
    Password
    <input  type="password" name="userPassword">

    <input type="submit" id="submit" value="Submit">
</form>
    <br>
    <a th:href="Register">用户注册</a>
    <a th:href="adminLogin">管理员登录</a>
    <a th:href="adminRegister">管理员注册</a>
</div>

</body>

</html>