<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册界面</title>
</head>
<body>

<form method="post" action="/userRegister">
    <div align="center">
        UserName
        <input  type="text" name="userName">
        <br>
        Email:
        <input  type="email" name="Email"/>
        <br>
        Password
        <input  type="password" name="userPassword">

        <input type="submit" id="submit" value="Submit">
    </div>
</form>
</body>
</html>